@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center">
	<h3>Управление справочниками</h3>
	<p>
		Для выбора справочника пройдите по определенной ссылке.
	</p>
</div>

@*<div class="row">
    <div class="col-md-3" style="background-color:lightgray; padding: 120px 30px; height: 500px">
        <ul>
            <li>@Html.ActionLink("Управление справочниками", "Index")
            <ul>
                <li>@Html.ActionLink("Личности", "Persons")</li>
                <li>@Html.ActionLink("Ключевые слова", "KeyWords")</li>
                <li>@Html.ActionLink("Сайты", "Sites")</li>
            </ul>
            </li>
        </ul>
        

    </div>
    <div class="col-md-8" style="text-align:center">
        <h3>Управление справочниками</h3>
        <p>
            Для выбора справочника пройдите по определенной ссылке.
        </p>
    </div>
    <div class="col-md-8">
        @Html.Partial()
    </div> 
</div>*@