@using WebAI.Models;
@model SiteViewModel

@{
    ViewBag.Title = "Форма редактирования сайта";
}
<h4 style="text-align:center">@ViewBag.Title</h4>
@using (Html.BeginForm("Edit", "Site", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @*@Html.LabelFor(x => x.Url)
        @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })*@
    </div>
 
    <input type="submit" class="btn btn-success" value="Изменить" />
    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.Id })">Удалить</a>
    <a class="btn btn-default" href="@Url.Action("Index")">Отмена</a>
}

