@using WebAI.Models;
@model KeyWordViewModel
@{
    ViewBag.Title = "Форма добавления ключевого слова";
    int personId = ViewBag.PersonId;
}

<h4 style="text-align:center">Форма добавления ключевого слова для персоны:</h4>
<h3 style="text-align:center">@ViewBag.Person</h3>
@using (Html.BeginForm("AddKeyWord", "Person", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @*@Html.EditorFor(x => x.Name)*@
    </div>
        <input type="hidden" value="@personId" name="PersonId" />
        @*<table>

        <tr><td>@Html.LabelFor(x => x.Name):</td> <td>@Html.EditorFor(x => x.Name)</td></tr>

    </table>*@

     <input type="submit" class="btn btn-success" value="Добавить" />
    <a class="btn btn-default" href="@Url.Action("KeyWordList")">Отмена</a>
}
