@model WebAI.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Смена пароля</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.OldPassword)
        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.OldPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NewPassword)
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NewPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </div>

    <button type="submit" class="btn btn-primary">Подтвердить</button>
}